ShivaXProbot/config.py
ShivaXProbot/*.session
ShivaXProbot/*.session-journal
ShivaXProbot/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
ShivaXProbot/modules/helper_funcs/temp.txt
ShivaXProbot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
ShivaXProbot.session-journal
updates.txt
*.exe
